#board {
  display:grid;
  grid-template-columns: repeat(10, max-content);
  grid-auto-rows: 1fr;
  gap: 2px;
}

#board > div {
  border: 1px solid black;
  padding: 2px;
  user-select: none;
  text-align: center;
}

#board > div > * {
  background-color: white;
  pointer-events: none;
}


*[data-count="-1"]{
  background-color: blue;
}

*[data-count="1"]{
  background-color: black;
}

*[data-count="2"]{
  background-color: red;
}